.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-image: linear-gradient(120deg, #548ee4 0%, #e585fd 100%);
  color: #2b0660;
  justify-content: center;
  align-items: center;
padding-bottom: 40px;
}

li{
  color: #282c34;

}
ul{
  margin: 0 auto;
  padding: 0;
  
}





.new-wrap{
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.new-input {
  border: none;
  width: 400px;
  height: 40px;
  padding: 0 15px;
}
.logo img{
  height: 150px;
  margin: 50px auto;
  margin-top: 60px;
}
.new-btn{
  background: #8c49ea;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.8px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 80px;
  padding: 0;
  text-align: center;
}

.new-btn:hover{
font-size: 14px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
